.anime-space {
  width: 50px;

  height: 10px;
  
}

.messages {
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    scrollbar-width: none;
    max-height: calc(100% - 10px);
     /*Adjust based on layout*/
    padding: 5px;
    font-family: "roboto";
    font-size: 15px;
}

.chatbox-empty {
    height: 80vh;
  }
  
  .chatbox-filled {
    height: 80vh;
  }

  .groupChatButton{
    display: inline;
    flex-direction: row;
    justify-items: end;
  }